input {
  width: 256px;
  height: 32px;
  font-size: 18px;
  margin-right: 8px;
}

button {
  width: 80px;
  height: 32px;
  font-size: 18px;
}

.timer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.value {
  font-size: 32px;
}
